*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* titulo */
h1{
    text-align: center;
    padding: 15px 0;
    background-color: #020202;
    color: #fdfdfd;
    font-size: 1.8rem;
}

/* section y articulos */
section{
    width: 100%;
    height: 500px;
    background-color: #cfcfcf;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px 40px;
}

section article{
    width: 280px;
    height: 370px;
    background-color: #fdfdfd;
    cursor: pointer;
}

/* clases */
.linea{
    width: 100%;
    height: 5px;
    background-color: #ff1bf0;
}

/* footer */
footer{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
}